<h1>What would you like to generate a recipe for?</h1>

<form action="/:type_of_recipe">
  <div>
    <input id="breakfast_recipe" type="radio" name="breakfast">
    <label for="breakfast_recipe">Breakfast</label>
  </div>

  <div>
    <input id="starer_recipe" type="radio" name="starter">
    <label for="starer_recipe">Starter</label>
  </div>

  <div>
    <input id="other_recipe" type="radio" name="other_meals">
    <label for="other_recipe">Lunch or Dinner</label>
  </div>

  <div>
    <input id="dessert_recipe" type="radio" name="dessert">
    <label for="dessert_recipe">Dessert</label>
  </div>

  <button>Generate recipe!</button>
</form>
