<h1>What would you like to generate a recipe for?</h1>

<form action="/generate_recipe">
  <div>
    <input id="breakfast_recipe" type="radio" name="type_of_recipe" value="breakfast">
    <label for="breakfast_recipe">Breakfast</label>
  </div>

  <div>
    <input id="starter_recipe" type="radio" name="type_of_recipe" value="starter">
    <label for="starter_recipe">Starter</label>
  </div>

  <div>
    <input id="entree_recipe" type="radio" name="type_of_recipe" value="entrée">
    <label for="entree_recipe">Entrée</label>
  </div>

    <div>
    <input id="side_recipe" type="radio" name="type_of_recipe" value="side">
    <label for="side_recipe">Side</label>
  </div>

  <div>
    <input id="dessert_recipe" type="radio" name="type_of_recipe" value="dessert">
    <label for="dessert_recipe">Dessert</label>
  </div>

  <div class="button">
    <button>Generate recipe!</button>
  <div>
</form>
